[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
django-extra-fields = "*"

[dev-packages]

[requires]
python_version = "3.13"
